*{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  background-color: black;
  color: rgb(250, 250, 250);
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
  color: white;
}

.par {
  margin: 2rem;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.btn1 {
  height: 12rem;
  width: 12rem;
  margin-right: 1rem;
  font-size: 8rem;
  border: 0.3rem solid white;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.btn2 {
  padding: 2rem;
  margin-top: 3rem;
  margin-left: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
}
